.smex-items
el-get/
elpa/
places
backups/
ac-comphist.dat
auto-save-list/
ido.last
recentf
request/
url/
tramp
eshell/
.mc-lists.el
.gitignore.*
*.orig
session\.*
\#*
./ensime
.ensime_cache/
ensime/
font-messing.el
image-dired/
target
.ensime
*\~
*bak*
savefile/
projectile-bookmarks.eld
.\#*
